.header {
  width: 100%;
  /* height: 50vh; */
  /* background-color: cyan; */
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > div {
  width: 100%;
}
